<div id="article-add-source-window" style="display:none;">
    <div class="article-add-source-win-fields">
        <div class="article-add-source-win-label aligned-left"><label for="new-article-source">Fuente</label></div>
        <div class="article-add-source-win-input aligned-left">
            <input id="new-article-source" type="text" class="k-input k-textbox" placeholder="Ingresar..."  name="new-article-source">
        </div>
    </div>
    <div class="float-separator"></div>
    <div id="article-add-source-window-buttons">
        <a id="add-source-window-ok-btn" class="k-button k-grid-edit k-button-no-text" title="Editar registro">
            <span class="k-icon k-update"></span>
        </a>
        <a id="add-source-window-cancel-btn" class="k-button k-grid-edit k-button-no-text" title="Editar registro">
            <span class="k-icon k-cancel"></span>
        </a>
    </div>
</div>