<div id="comment-mod-confirm">
    <div class="comment-data"></div>
    <div class="content">
        <div class="comment-del-win-line">
            <div class="comment-del-confirm-win-line-span">
                <span>¿Confirma la moderación del comentario?</span>
            </div>
        </div>
        <div class="comment-del-win-line-btns">
            <a id="comment-mod-win-ok-btn" class="k-button k-grid-edit k-button-no-text" title="Aceptar">
                <span class="k-icon k-update"></span>
            </a>
            <a id="comment-mod-win-cancel-btn" class="k-button k-grid-edit k-button-no-text" title="Cancelar">
                <span class="k-icon k-cancel"></span>
            </a>
        </div>
    </div>
    <div class="working-content" style="display:none;">
        <div class="k-loading-mask" style="width: 100%; height: 100%; top: 0px; left: 0px;">
            <span class="k-loading-text">Loading...</span>
            <div class="k-loading-image"></div>
            <div class="k-loading-color"></div>
        </div>
    </div>
</div>
<div class="float-separator"></div>