<div class="article-comment">
    <div class="comment-data">
        <span class="comment-id"></span>
    </div>
    <div class="article-comment-user-img">
        <img class="k-block k-inset profile-img" src="{{ STATIC_URL }}img/silhouette_author.png"/>
    </div>
    <div class="article-comment-content">
        <div class="article-comment-upbar">
            <span class="article-comment-user-name"></span>
        </div>
        <div class="article-comment-actions">
            <a class="comment-moderate-btn k-button button-mini" title="Moderar comentario">
                <span class="k-icon k-i-cancel"></span>
            </a>
            <a class="comment-delete-btn k-button button-mini" title="Eliminar comentario">
                <span class="k-icon k-i-close"></span>
            </a>
        </div>
        <div class="float-separator"></div>
        <div class="article-comment-text"></div>
    </div>
    <div class="float-separator"></div>
</div>