<div id="validate-login-window">
    <form id="validate-login-form">
        <div class="validate-login-window-fields">
            <div class="validate-login-window-field">
                <label for="id_password">Contraseña</label>
                <input id="id_password" class="k-input k-textbox login-window-input" name="password" type="password"
                       placeholder="Ingrese su contraseña" required data-password-msg="Contraseña incorrecta"
                        maxlength="{{ PASSWORD_LENGTH }}" autocomplete="off"/>
                <span class="k-invalid-msg" data-for="password"></span>
            </div>
        </div>
        <div>
            <div id="login-status"></div>
            <div class="float-separator"></div>
        </div>
        <div class="float-separator"></div>
        <div id="login-window-buttons">
            <input id="login-submit-button" class="k-button" value="Aceptar" type="submit" />
        </div>
    </form>
</div>

