<div class="article-edit-line">
    <div class="article-edit-label"><label for="title">Título</label></div>
    <input id="title" class="k-input k-textbox" name="title" type="text"
           required data-required-msg="Ingrese un título" value="{{ article.title }}"><br>
    <div class="float-separator"></div>
</div>
<div class="article-edit-line">
    <div class="article-edit-label"><label for="author" class="required article-edit-label">Author</label></div>
    <input id="author" name="author" type="number" required data-required-msg="Seleccione un autor" value="{{ article.author_id }}">
    {# data-bind="value:author" #}
    <div id="article-edit-add-author-btn" class="k-button k-grid-create k-grid-add k-button-no-text"
         title="Agregar nueva etiqueta" onclick="onClick_AddAuthor(this)">
        <span class="k-icon k-add"></span>
    </div>
    <div class="float-separator"></div>
</div>
<div class="article-edit-line">
    <div class="article-edit-label"><label for="article-editor-tags" class="article-edit-label">Etiquetas</label></div>
    <div class="article-edit-input article-tags">
        <input id="new-tag-input" type="text" class="k-input k-textbox" name="tags" style="float:left;" >
        <div id="article-edit-add-tags-btn"  style="float:left;" class="k-button k-grid-create k-grid-add k-button-no-text"
           title="Agregar nueva etiqueta" onclick="onClick_AddArticleTags(this)">
            <span class="k-icon k-add"></span>
        </div>
    </div>
    <div class="float-separator"></div>
    <div class="article-editor-tags">
        <select id="article-editor-tags" multiple="multiple" data-placeholder="Agregar etiquetas..."></select>
        <div class="float-separator"></div>
    </div>
    <div class="float-separator"></div>
</div>
<div class="article-edit-line">
    <div class="article-edit-label"><label for="article-editor-sections" class="article-edit-label">Secciones</label></div>
    <span class="k-invalid-msg" data-for="article-editor-sections"></span>
    <div class="article-editor-sections">
        <select id="article-editor-sections" multiple="multiple" data-placeholder="Agregar secciones..."
                required data-required-msg="Seleccione al menos una sección"></select>
        <div class="float-separator"></div>
    </div>
    <div id="article-edit-sections-refresh-btn" class="k-button k-grid-create k-button-no-text"
         title="Actualizar secciones">
        <span class="k-icon k-i-refresh"></span>
    </div>
    <div class="float-separator"></div>
</div>
<div class="float-separator"></div>
<div class="article-edit-line">
    <div class="article-edit-label">
        <label for="article-editor-sources" class="article-edit-label">Fuentes</label>
    </div>
    <div class="article-edit-input article-tags">
        <input id="new-source-input" type="url" class="k-input k-textbox" name="sources" style="float:left;" >
        <div id="article-edit-add-sources-btn"  style="float:left;" class="k-button k-grid-create k-grid-add k-button-no-text"
           title="Agregar nueva fuente" onclick="onClick_AddArticleSource(this)">
            <span class="k-icon k-add"></span>
        </div>
    </div>
    <div><span class="k-invalid-msg" style="margin-bottom: 8px;" data-for="sources" data-invalid-msg="URL inválida"></span></div>
    <div class="float-separator"></div>
    <div class="article-editor-sources">
        <select id="article-editor-sources" multiple="multiple" data-placeholder="Agregar fuentes..."></select>
        <div class="float-separator"></div>
    </div>
    <div class="float-separator"></div>
</div>
<div class="float-separator"></div>
{% include "web/utils/article_add_tag_window.html" %}
{% include "web/utils/article_add_source_window.html" %}