<div class="article-search-filters-section">
    <div class="article-search-filters-section-label">
        <input id="article-search-publisher-check" type="checkbox" name="publisher-check">
        <label for="article-search-publisher-check">Publicador</label>
    </div>
    <input id="article-search-publisher" class="article-search-filter" name="publisher" />
</div>
<div class="article-search-filters-section">
    <div class="article-search-filters-section-label">
        <input id="article-search-author-check" type="checkbox" name="author-check">
        <label for="article-search-author-check">Autor</label>
    </div>
    <input id="article-search-author" class="article-search-filter" name="author" />
</div>
<div class="article-search-filters-section">
    <div class="article-search-filters-section-label">
        <input id="article-search-date-from-check" type="checkbox" name="date-from-check">
        <label for="article-search-date-from-check">Desde</label>
    </div>
    <input id="article-search-date-from" class="article-search-filter" name="date-from" />
</div>
<div class="article-search-filters-section">
    <div class="article-search-filters-section-label">
        <input id="article-search-date-to-check" type="checkbox" name="date-to-check">
        <label for="article-search-date-to-check">Hasta</label>
    </div>
    <input id="article-search-date-to" class="article-search-filter" name="date-to" />
</div>