{% extends "web/shared/base.html" %}
{% block title %}AXIS{% endblock %}
{% block extrascript %}{% endblock %}
{% block content %}
    {% include "web/shared/header.html" %}
    <div class="content-centered">
        <!-- TABSTRIP CONTENT -->
        <div id="tabstrip-block">
            <ul>
                <li class="k-state-active">Artículo</li>
                {% if is_administrator or is_publisher  %}
                <li>Publicación</li>
                {% endif %}
                {% if is_administrator   %}
                <li>Administración</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="float-separator"></div>
    <div id="user-account-edit-window">
        {% include "web/editor_templates/user/user_account_edit_window.html" %}
    </div>
    <div id="user-pass-change-window">
        {% include "web/editor_templates/user/user_pass_change_window.html" %}
    </div>
    <script type="text/javascript">
        var userIsAdmin = false, userIsPublisher = false, userIsReader = false;
        {% if is_administrator  %} userIsAdmin = true; {% endif %}
        {% if is_publisher  %} userIsPublisher = true; {% endif %}
        {% if is_reader  %} userIsReader = true; {% endif %}
        $("#tabstrip-block").kendoTabStrip({
            animation: { open: { effects: "fadeIn"} },
            contentUrls: [
                "{% url 'web.articles.display_content' %}" + "?article_id=" + {{ article_id }},
                "{% url 'web.publish_tab' %}",
                "{% url 'web.admin_tab' %}"
            ]
        });
        var userAccountEditWindow = $("#user-account-edit-window").kendoWindow({
            title: "Edicion de cuenta de usuario",
            modal:true,
            visible: false
        });
        var userPassChangeWindow = $("#user-pass-change-window").kendoWindow({
            title: "Cambio de contraseña",
            modal:true,
            visible: false
        });
    </script>
{% endblock %}