{% extends "web/shared/base.html" %}
{% block title %}Cambio de contraseña{% endblock %}
{% block navbar %}
    {% include "web/shared/navbar.html" %}
{% endblock %}
{% block content %}
    <div id="pass-change-win-content">
        <form onsubmit="vaidatePassChangeForm()">
            {% csrf_token %}
            <div class="pass-change-window-fields">
                <div class="pass-change-win-field">
                    <label for="old_password">Contraseña antigua</label>
                    <input id="old_password" class="k-input k-textbox login-window-input" name="old_password" type="password"
                           placeholder="Ingrese su contraseña" required data-password-msg="Contraseña incorrecta"
                            maxlength="{{ PASSWORD_LENGTH }}" autocomplete="off"/>
                    <div class="float-separator"></div>
                    <label></label>
                    <span class="k-invalid-msg" data-for="old_password"></span>
                </div>
                <div class="pass-change-win-field">
                    <label for="new_password">Nueva contraseña</label>
                    <input id="new_password" class="k-input k-textbox login-window-input" name="new_password" type="password"
                           placeholder="Ingrese su contraseña" required data-password-msg="Contraseña incorrecta"
                           maxlength="{{ PASSWORD_LENGTH }}" autocomplete="off"/>
                    <div class="float-separator"></div>
                    <label></label>
                </div>
                <div class="pass-change-win-field">
                    <label for="new_password_confirm">Confirmar contraseña</label>
                    <input id="new_password_confirm" class="k-input k-textbox login-window-input" name="new_password"
                           type="password" placeholder="Ingrese su contraseña" required
                           data-password-msg="Contraseña incorrecta" maxlength="{{ PASSWORD_LENGTH }}" autocomplete="off"/>
                    <div class="float-separator"></div>
                    <label></label>
                </div>
            </div>
            <div class="text-centered" style="margin-bottom: 10px;">
                <span class="k-invalid-msg" data-for="new_password"></span>
            </div>
            <div class="float-separator"></div>
            <div id="pass-change-win-buttons">
                {#<span >Acceder</span>#}
                <input id="pass-change-submit-button" class="k-button" value="Aceptar" type="submit" />
            </div>
        </form>
    </div>
    <div id="pass-change-result-win">
        <div id="result-msg"></div>
        <div id="ok-btn" style="text-align: right;">
            <a href="{% url 'web.main' %}" class="k-button">Aceptar</a>
        </div>
    </div>
    <script type="text/javascript">
        var passChangeWinContent = $("#pass-change-win-content");
        var passChangeWindow = passChangeWinContent.kendoWindow({
            actions: {},
            title: "Cambiar contraseña",
            draggable: false,
            resizable: false
        }).data("kendoWindow");
        var passChangeResultWinContent = $("#pass-change-result-win");
        var passChangeResultWindow = passChangeResultWinContent.kendoWindow({
            title: "Resultado",
            modal: true,
            draggable: false,
            resizable: false,
            visible: false
        }).data("kendoWindow");
        passChangeWindow.center();
        var validator = passChangeWinContent.kendoValidator({
            rules: {
                validOldPassword: function(input){
                    if (input.is("[id=old_password]")) {
                        var oldPassword = $(input).val();
                        var validPassword = true;
                        var authUserId = 0;
                        $.ajax({
                            url: "{% url 'web.check_password' %}",
                            type: "post",
                            dataType: "json",
                            async: false,
                            data: { password: oldPassword },
                            success: function (valid){
                                validPassword = valid;
                            }
                        });
                        return validPassword;
                    }
                    return true;
                },
                matchingNewPasswords: function(input){
                    if (input.is("[id=new_password]") || input.is("[id=new_password_confirm]")) {
                        var newPassword = passChangeWinContent.find("#new_password").val();
                        var newPasswordConfirm = passChangeWinContent.find("#new_password_confirm").val();
                        return newPassword === newPasswordConfirm;
                    }
                    return true;
                }
            },
            messages: {
                required: "Dato requerido",
                validOldPassword: "La contraseña ingresada es incorrecta",
                matchingNewPasswords: "Los campos para nueva contraseña no coinciden"
            }
        }).data("kendoValidator");
        function passChangeSuccess(e){
            if (e.valid_user){
                if (e.valold_password){ window.location = e.next_route; }
                else { $("#login-status").html("La contraseña ingresada no es válida").show(); }
            }
            else { $("#login-status").html("La dirección de e-mail ingresada<br>no corresponde a un usuario registrado").show(); }
        }
        function vaidatePassChangeForm(e){
            if (validator.validate()) {
                var oldPassword = passChangeWinContent.find("#old_password").val();
                var newPassword = passChangeWinContent.find("#new_password").val();
                $.ajax({
                    url: "{% url 'web.password_change_action' %}",
                    type: "post",
                    dataType: "json",
                    data: { old_password: oldPassword, new_password: newPassword },
                    success: function (success){
                        if (success){
                            passChangeResultWinContent.find("#result-msg").html("Contraseña modificada.");
                            passChangeResultWinContent.closest(".k-window").find(".k-window-actions")
                                    .attr("class", "k-window-actions").empty();
                        }
                        else{
                            passChangeResultWinContent.find("#result-msg")
                                    .html("Ocurrio un error al modificar la contraseña.</br>Intentelo nuevamente.");
                            passChangeResultWinContent.find("#ok-btn").hide();
                        }
                        passChangeResultWindow.center().open();
                    }
                });
            }
            // ABORT SUBMIT
            return false;
        }
        $("#pass-change-submit-button").click(vaidatePassChangeForm);
    </script>
{% endblock %}