<form action="{% url 'web.users.registrate_user_profile' %}" method="post">
    {% csrf_token %}
    <div id="user-popup-editor">
        <div id="profile-img-container">
            <div class="profile-img-title">Imagen de perfil</div>
            <div id="profile-img-file-content" class="profile-img-content">
                <img id="new-profile-image" class="profile-img" src="{{ STATIC_URL }}img/silhouette_user.png"/><br>
                <button id="reader-image-clean" type="button" class="k-button">Limpiar...</button>
            </div>
            <div id="profile-img-upload-content" class="profile-img-content">
                <input id="reader-image-select" name="profile_image" type="file"/>
                <input id="reader-image-path" autocomplete="off" name="profile_image_path" data-bind="value:profile_image_path" style="display: none;"/>
                <input name="reader-image" type="text" style="display: none;" data-bind="value:profile_image">
            </div>
        </div>
        <div class="editor-inner-content">
            <div class="profile-data-content">
                <div class="profile-edit-line">
                    <div class="profile-edit-label">
                        <label for="first_name">Nombre</label>
                    </div>
                    <div class="profile-input-large">
                        <input id="first_name" type="text" class="k-input k-textbox"
                               style="margin-bottom: 4px;" name="first_name"
                               required validationMessage="Por favor ingrese su nombre" pattern="[a-zA-Záíéóú ]+"
                               autocomplete="off"
                               oninvalid="setCustomValidity('Este campo solo puede contener letras (a..z, A..Z)')"
                               onchange="try{setCustomValidity('')}catch(e){}" maxlength="30">
                        <div class="float-separator"></div>
                        <span class="k-invalid-msg" data-for="first_name"></span>
                    </div>
                </div>
                <div class="profile-edit-line">
                    <div class="profile-edit-label">
                        <label for="last_name">Apellido</label>
                    </div>
                    <div class="profile-input-large">
                        <input id="last_name" type="text" class="k-input k-textbox" name="last_name" style="margin-bottom: 4px;"
                               required validationMessage="Por favor ingrese su apellido"
                               pattern="[a-zA-Záíéóú ]+" autocomplete="off"
                               oninvalid="setCustomValidity('Este campo solo puede contener letras (a..z, A..Z)')"
                               onchange="try{setCustomValidity('')}catch(e){}" maxlength="30">
                        <div class="float-separator"></div>
                        <span class="k-invalid-msg" data-for="last_name"></span>
                    </div>
                </div>
                <div class="profile-edit-line">
                    <div class="profile-edit-label">
                        <label for="user_name">Usuario</label>
                    </div>
                    <div class="profile-input-large">
                        <input id="user_name" class="k-input k-textbox" name="user_name" type="text"
                               style="margin-bottom: 4px;" required validationMessage="Usuario no disponible o no válido (a..z, A..Z, 0..9)"
                               autocomplete="false" autocomplete="off" pattern="[a-zA-Z0-9]+"
                               oninvalid="setCustomValidity('Este campo puede contener letras y números (a..z, A..Z, 0..9)')"
                               onchange="try{setCustomValidity('')}catch(e){}" maxlength="30">
                        <div class="float-separator"></div>
                        <span class="k-invalid-msg" data-for="user_name"></span>
                    </div>
                </div>
                <div class="profile-edit-line">
                    <div class="profile-edit-label"><label for="email">E-Mail</label></div>
                    <div class="profile-input-large">
                        <input id="email" class="k-input k-textbox" name="email" type="email"
                               placeholder="ej: minombre@ejemplo.com"  style="margin-bottom: 4px;" required
                               data-email-msg="El formato de correo no es vàlido" autocomplete="false"
                               autocomplete="off" maxlength="75"/>
                        <div class="float-separator"></div>
                        <span class="k-invalid-msg" data-for="email"></span>
                    </div>
                </div>
                <div class="float-separator"></div>
                <div class="profile-edit-line" style="float:left;">
                    <div class="profile-edit-label"><label for="password">Contraseña</label></div>
                    <div class="reader-edit-input">
                        <input id="password" class="k-input k-textbox login-window-input" name="password" type="password"
                               style="margin-bottom: 4px;" required autocomplete="false"
                               validationMessage="Ingrese una contraseña" maxlength="{{ PASSWORD_LENGTH }}"/>
                        <div class="float-separator"></div>
                        <span class="k-invalid-msg" data-for="password"></span>
                    </div>
                </div>
                <div class="profile-edit-line" style="float:left; margin-left: 10px;">
                    <div class="profile-edit-label"><label for="password_confirm">Confirmar contraseña</label></div>
                    <div class="reader-edit-input">
                        <input id="password_confirm" class="k-input k-textbox login-window-input"
                               name="password_confirm" type="password" autocomplete="off"
                               style="margin-bottom: 4px;" required validationMessage="Ingrese su contraseña nuevamente"
                               maxlength="{{ PASSWORD_LENGTH }}"/>
                        <div class="float-separator"></div>
                        <span class="k-invalid-msg" data-for="password_confirm"></span>
                    </div>
                </div>
                <div class="float-separator"></div>
                <div class="profile-edit-line">
                    <div class="profile-edit-label"><label for="user-favorite-sections">Secciones favoritas</label></div>
                    <div class="profile-input-large" style="clear:left;">
                        <select id="user-favorite-sections" multiple="multiple" data-placeholder="Agregar secciones..."></select>
                        <input id="user-favorite-sections-data" type="text" name="user_favorite_sections" style="display: none" />
                    </div>
                </div>
                <div class="reader-edit-line-textarea">
                    <div class="reader-edit-label-top"><label for="biography">Biografía</label></div>
                    <div class="reader-edit-input" style="clear:left;">
                        <textarea id="biography" class="k-input k-textbox" name="biography" rows="6" cols="160"
                                  data-bind="value:biography" maxlength="{{ BIOGRAPHY_LENGTH }}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="float-separator"></div>
        <div class="user-account-edit-buttons">
            <button id="registration-ok-btn" class="k-button k-grid-edit k-button-no-text" title="Editar registro">
                <span class="k-icon k-update"></span>Registrarse
            </button>
        </div>
    </div>
</form>