{% extends "web/shared/base.html" %}
{% block title %}Registro{% endblock %}
{% block navbar %}
    {% include "web/shared/navbar.html" %}
{% endblock %}
{% block content %}
    <div id="registration-form-content">
        {% include "web/account/reader_registration_form.html" %}
    </div>
    <script type="text/javascript">
        var TEMP_PROFILE_IMG_URL = {{ MEDIA_URL }} + "/temp/profile_images/";
        var STATIC_IMG = "/axis/static/img/";
        var PROFILE_IMG_URL = {{ MEDIA_URL }} + "/profile_images/";
        var TEMP_UPLOADED_IMG_NAME = "";

        var registrationFormContent = $("#registration-form-content");

        var registrationFormWindow = registrationFormContent.kendoWindow({
            actions: {},
            title: "Registro de usuario Lector",
            resizable: false,
            visible: false
        });
        function onChange_favoriteSectionsMultiselect(e){
            var multiselect = $("#user-favorite-sections").data("kendoMultiSelect");
            var dataInput = $("#user-favorite-sections-data");
            dataInput.val("");
            $(multiselect.dataItems()).each(function(){
                var section = this;
                if (dataInput.val() == "") dataInput.val(section.id);
                else dataInput.val(dataInput.val() + ", " + section.id);
            });
        }
        var favoriteSectionsMultiselect = $("#user-favorite-sections").kendoMultiSelect({
            dataTextField: "section",
            dataValueField: "id",
            dataSource: {
                type: "post",
                transport: {
                    read: {
                        url: "{% url 'web.sections.select_combo' %}"
                    }
                }
            },
            change: onChange_favoriteSectionsMultiselect
        }).data("kendoMultiSelect");
        var validator = registrationFormContent.kendoValidator({
            rules: {
                validEmail: function(input){
                    if (input.is("[id=email]")) {
                        var email = $(input).val();
                        var userPopupEditorValid = true;
                        var authUserId = 0;
                        $.ajax({
                            url: "{% url 'web.users.verify_email_exists' %}",
                            type: "post", dataType: "json", async: false,
                            data: { email: email, auth_user_id : authUserId },
                            success: function(data) { userPopupEditorValid = data; }
                        });
                        return userPopupEditorValid;
                    }
                    return true;
                },
                userNameExists: function(input){
                    if (input.is("[id=user_name]")) {
                        var userName = $(input).val();
                        var userPopupEditorValid = true;
                        var authUserId = 0;
                        $.ajax({
                            url: "{% url 'web.users.verify_user_name_exists' %}",
                            type: "post", dataType: "json", async: false,
                            data: { user_name: userName, auth_user_id : authUserId },
                            success: function(result) { userPopupEditorValid = result; }
                        });
                        return userPopupEditorValid;
                    }
                    return true;
                },
                bothPasswordsEqual: function (input){
                    if (input.is("[id=password_confirm]")) {
                        var userPopupEditor = $("#user-popup-editor");
                        var passwordA = userPopupEditor.find("#password").val();
                        var passwordB = userPopupEditor.find("#password_confirm").val();
                        validator.validateInput(userPopupEditor.find("#password"));
                        return passwordA == passwordB;
                    }
                    return true;
                }
            },
            messages: {
                validEmail: "E-Mail no disponible o no válido",
                userNameExists: "Usuario no disponible o no válido",
                required: "Dato requerido",
                requestedFormat: "Respete el formato correspondiente",
                bothPasswordsEqual: "Las contraseñas ingresadas no coinciden"
            }
        }).data("kendoValidator");
        function loginSuccess(e){
            if (e.valid_user){
                if (e.valid_password){ window.location = e.next_route; }
                else { $("#login-status").html("La contraseña ingresada no es válida").show(); }
            }
            else {
                $("#login-status").html("La dirección de e-mail ingresada<br>no corresponde a un usuario registrado").show();
            }
        }
        function cleanUserProfileImg(e){
            var emptySilhouete = STATIC_IMG + "silhouette_user.png";
            var userPopupEditor = $("#user-popup-editor");
            var oldImagePath = userPopupEditor.find("#reader-image-path").val();
            userPopupEditor.find("#new-profile-image").attr("src", "").attr("src", emptySilhouete + "?lastmod=" + new Date().getTime());
            userPopupEditor.find("#reader-image-path").val("");
            $.ajax({
                url: "{% url 'web.users.clean_tmp_profile_img' %}",
                type: "post",
                data: { fileToClean: oldImagePath },
                success: function (e){
                    userPopupEditor.find(".k-upload-status")
                            .html('Imágen eliminada<span class="k-icon k-i-tick">Imágen eliminada</span>');
                }
            });
        }
        function onSuccess_userProfileImgUpload(e){
            var fileRoute = TEMP_PROFILE_IMG_URL + e.response;
            var userPopupEditor = $("#user-popup-editor");
            userPopupEditor.find("#new-profile-image").attr("src", "").attr("src", fileRoute + "#" + new Date().getTime());
            var obj = userPopupEditor.find("#reader-image-path");
            obj.text(e.response);
            obj.val(e.response);
        }
        $("#reader-image-select").kendoUpload({
            localization: $.kendoHelper.uploadLocalization,
            async: {
                saveUrl: "{% url 'web.users.upload_profile_image' %}",
                autoUpload: true
            },
            success: onSuccess_userProfileImgUpload,
            multiple: false,
            showFileList: false
        });
        $("#user-popup-editor").find("#reader-image-clean").show().click(cleanUserProfileImg);
        registrationFormContent.data("kendoWindow").center().open();
    </script>
{% endblock %}